<h1>hello</h1><br>

your message service : <b>{{_msg}}</b><br>

<!-- <app-event-binding></app-event-binding> -->

<!-- <app-two-way-databinding></app-two-way-databinding> -->

<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2> -->


<!-- //routing -->
<div>
    <a routerLink="home" routerLinkActive="active home">Home</a>
    <a routerLink="aboutus" routerLinkActive="active home">About</a>
    <a routerLink="contactus" routerLinkActive="active home">Contact</a>
    <a routerLink="students" routerLinkActive="active home">Students</a>
    <a routerLink="login" routerLinkActive="active home">Log In</a>

    <!-- auxixary route
    <a [routerLink]="[{outlets:{outlet2:['aboutusnew']}}]">aboutus new</a>


 sending parameter -->
    <!-- <a [routerLink]="[{outlets:{outlet2:['aboutusnew,501']}}]">aboutus new wit parameter</a> -->
<!-- 
</div>

<div>
<router-outlet></router-outlet>
</div>

<div>
<router-outlet name="outlet2"></router-outlet>
</div> --->



<!-- auth guard -->
<router-outlet></router-outlet>