<h2>contactus works!</h2>


<table border="1">
    <tr>
        <td>Your name</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Your emai id</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Your mobile no</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Your message</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>
            <button>send</button>
        </td>
        <td>
            <button>cancel</button>
        </td>
    </tr>
</table>